{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "standard",
  "plugins": [
    "react",
    "babel"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-underscore-dangle": [0],
    "no-cond-assign": 0,
    "indent": [2, 2],
    "semi": [2, "never"],
    "camelcase": 0,
    "comma-style": [2, "first"],
    "new-cap": 0,
    "strict": 0,
    "no-unused-expressions": 0,
    "semi-spacing": 0,
    "consistent-return": 2,
    "default-case": 2,
    "radix": 2,
    "brace-style": 2,
    "dot-location": [2, "property"],
    "space-before-function-paren": [2, "never"],
    "react/display-name": 2,
    "react/forbid-prop-types": 2,
    "react/jsx-boolean-value": 2,
    "react/jsx-closing-bracket-location": [2, "props-aligned"],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-quotes": [2, "double"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-multi-comp": 2,
    "react/prefer-es6-class": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2
  },
  "globals": {
    "Object": false,
    "Symbol": false,
    "Function": false,
    "Boolean": false,
    "Number": false,
    "Array": false,
    "String": false,
    "RegExp": false,
    "Date": false,
    "Error": false,
    "valError": false,
    "RangeError": false,
    "ReferenceError": false,
    "SyntaxError": false,
    "TypeError": false,
    "URIError": false,
    "JSON": false,
    "Map": false,
    "WeakMap": false,
    "Set": false,
    "Promise": false,
    "ArrayBuffer": false,
    "ArrayBufferView": false,
    "Int8Array": false,
    "Uint8Array": false,
    "Uint8ClampedArray": false,
    "Int16Array": false,
    "Uint16Array": false,
    "Int32Array": false,
    "Uint32Array": false,
    "Float32Array": false,
    "Float64Array": false,
    "DataView": false,
    "boolean": false,
    "string": false,
    "void": false,
    "any": false,
    "mixed": false,
    "number": false,
    "ReactComponent": false,
    "ReactElement": false,
    "SyntheticEvent": false,
    "SyntheticClipboardEvent": false,
    "SyntheticCompositionEvent": false,
    "SyntheticInputEvent": false,
    "SyntheticUIEvent": false,
    "SyntheticFocusEvent": false,
    "SyntheticKeyboardEvent": false,
    "SyntheticMouseEvent": false,
    "SyntheticDragEvent": false,
    "SyntheticWheelEvent": false,
    "SyntheticTouchEvent": false
  }
}